body {
    margin: 0;
}

h2 {
    text-align: center;
    font-family: 'IBM Plex Mono', monospace;
}

.sommaire {
    position: fixed;
    height: 5em;
    top: 0;
    width: 100%;
    background: rgb(39, 39, 39);
    color: #fff;
    z-index: 1000;
    overflow: hidden;

    ul {
        list-style-type: none;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100%;

        li {
            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;

            a {
                padding: 2em;
                color: #fff;
                text-decoration: none;
                line-height: 1em;

                &:hover {
                    background: rgb(70, 70, 70);
                }
            }
        }
    }
}

.subContent {
    padding: 5em .5em;
}

.articles {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: stretch;
    font-family: 'IBM Plex Mono', monospace;
}

.article {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 40em;
    height: 25em;
    margin: 1em;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    overflow: hidden;
    text-align: center;
    font-size: 0.8em;
}

.article:hover {
    z-index: 100;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.article.soldOut::after {
    content: "Sold-Out";
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap;
    width: 20em;
    box-sizing: border-box;
    padding: 0.5em 0;
    top: 2em;
    left: -7em;
    background: rgb(151, 12, 12);
    color: #fff;
    transform: rotate(-45deg);
    font-size: 0.8em;
    font-weight: bold;
}

.article .articleInfo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid rgba(0, 0, 0, 0.308);
}

.article .info {
    width: 100%;
    height: 3em;
}

.article .name {
    width: 100%;
    display: block;
    padding: 0.5em;
    box-sizing: border-box;
}

.article .price {
    width: 100%;
    display: block;
}


.article .models {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    overflow-x: auto;
}

.articles .models .model {
    padding: 0 1.5em;
}

.article .model .sizes {
    list-style-type: none;
    padding: 0;
    font-size: 0.8em;
}

.article .model .thumbnail {
    width: 5em;
    display: flex;
    justify-content: center;
    align-items: center; 
    margin: 1em auto;
}

.article .model .thumbnail img {
    width: 100%;
    height: auto;
}