<nav class="sommaire position-fixed">
    <ul id="categoriesTablist" role="tablist" class="list-group">
        {{#categories}}
            <li class="catogoryLink"><a data-toggle="list" role="tab" aria-controls="list-{{ name }}" href="#list-{{ name }}" id="list-{{ name }}-list" class="{{#default}}active{{/default}}"><i class="icon-{{ icon }}"></i></a></li>
        {{/categories}}
    </ul>
</nav>

<div class="subContent tab-content" id="categoriesTabContent">
    {{#categories}}
        <div class="articlesArea tab-pane fade {{#default}}show active{{/default}}" id="list-{{ name }}" role="tabpanel" aria-labelledby="list-{{ name }}-list">
            <h2 id="{{ name }}">{{ name }}</h2>
            <div class="articles">
                {{#articles}}
                    <div class="article {{^price}}soldOut{{/price}}">
                        <div class="articleInfo">
                            <div class="info">
                                <div class="category">{{ category }}</div>
                                <div class="name">{{ name }}</div>
                                {{#price}}
                                    <div class="price">{{ price }} {{ priceUnit }}</div>
                                {{/price}}
                            </div>
                        </div>
                        <div class="models">
                            {{#models}}
                                <div class="model">
                                    <div class="thumbnail"><img src="{{ img }}" alt=""></div>
                                    <div class="model">{{ model }}</div>
                                    <div class="url"><a href="{{ url }}" target="_blank" rel="noopener noreferrer">fiche</a></div>
                                    <ul class="sizes">
                                        {{#sizes}}
                                            <li class="size">{{.}}</li>
                                        {{/sizes}}
                                    </ul>
                                </div>
                            {{/models}}
                        </div>
                    </div>
                {{/articles}}
            </div>
        </div>
    {{/categories}}
</div>