<div class="modal fade" id="panier" tabindex="-1" role="dialog" aria-labelledby="panierModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="panierModal">Panier</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body p-0">
                {{^panier.empty}}
                    <ul class="list-group p-0">
                        {{#panier.lignes_paniers}}
                            <li class="list-group-item p-2" data-ligne="{{ id }}">
                                <div class="row m-0">
                                    <div class="col-2 lignePanier-img d-flex align-items-center justify-content-center"><img class="img-thumbnail rounded" src="{{ images }}" alt=""></div>
                                    <div class="col-7 lignePanier-name text-truncate d-flex align-items-center justify-content-start">{{ name }}</div>
                                    <div class="col-2 lignePanier-price p-0 d-flex align-items-center justify-content-end">{{ price_euros }} €</div>
                                    <div class="col-1 lignePanier-action p-0 d-flex align-items-center justify-content-center">
                                        <button type="button" class="close removeArticle" aria-label="Close">
                                            <span data-toggle="tooltip" data-placement="left" title="Supprimer l'article du panier" data-id="{{ id }}">&times;</span>
                                        </button>
                                    </div>
                                </div>
                            </li>
                        {{/panier.lignes_paniers}}
                        <li class="list-group-item p-4 d-flex align-items-center justify-content-end">
                            <div class="lignePanier-total font-weight-bold">total: <span class="total">{{ panier.total }}</span> €</div>
                        </li>
                    </ul>
                {{/panier.empty}}
                {{#panier.empty}}
                    <p class="text-center m-5">Pas d'article dans le panier pour le moment !</p>
                {{/panier.empty}}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-danger removePanier">Supprimer</button>
                <button type="button" class="btn btn-success">Sauvegarder</button>
            </div>
        </div>
    </div>
</div>