<section class="d-flex h-100 w-100 justify-content-center align-items-center">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mx-2 mt-2 px-2 pt-2 text-center">Inscrit toi sur<br></h4>
            <h5 class="supreme mx-2 mb-2 px-2 mb-5 text-center">SupremeScrap</h5>
            <form action="/users/register" method="POST">
                <div class="form-group my-3">
                    <input class="form-control" type="text" name="fisrtname" id="fisrtname" placeholder="Your Fisrtname"/>
                </div>
                <div class="form-group my-3">
                    <input class="form-control" type="text" name="lastname" id="lastname" placeholder="Your Lastname"/>
                </div>
                <div class="form-group my-3">
                    <input class="form-control" type="email" name="email" id="email" placeholder="Your Email"/>
                </div>
                <div class="form-group my-3">
                    <input class="form-control" type="password" name="password" id="password" placeholder="Your Password"/>
                </div>
                <div>
                    <input class="btn supreme float-right mt-2" type="submit" value="Register"/>
                </div>
            </form>
        </div>
    </div>
</section>